[project]
	description = Visual Studio Tool Window Extension for Android Logcat Output & Filter
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/lancelot-coder-chen
[access "refs/for/refs/*"]
	read = group user/lancelot-coder-chen
	push = group user/lancelot-coder-chen
	label-Code-Review = -2..+2 group user/lancelot-coder-chen
	label-Verified = -1..+1 group user/lancelot-coder-chen
	rebase = group user/lancelot-coder-chen
	removeReviewer = group user/lancelot-coder-chen
	submit = group user/lancelot-coder-chen
[access "refs/heads/*"]
	read = group user/lancelot-coder-chen
	create = group user/lancelot-coder-chen
	push = +force group user/lancelot-coder-chen
	pushMerge = group user/lancelot-coder-chen
[access "refs/tags/*"]
	push = group user/lancelot-coder-chen
	push = +force group user/lancelot-coder-chen
